.roll-dice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roll-dice .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.roll-dice button {
  width: 15em;
  padding: 1.5em;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: slateblue;
}

.roll-dice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}

.roll-dice button.rolling {
  background-color: black;
  cursor: default;
}

@media (max-width: 440px) {
  .roll-dice .container {
    font-size: .9em;
  }
}